$contact-single: (
	columns: 1,
	gutter: 2rem,
);

$contact-two-column: (
	columns: 2,
	gutter: 2rem,
	media: "(min-width: 461px)",
);


.contact-content {
	@include grid-container();
	margin: 0 auto $midspace;
	max-width: 1000px;
	.lead-in-title {
		text: {
			align: center;
			transform: uppercase
		}
	}
	.column {
		@include grid-column(1, $contact-single);

		@include grid-media( $contact-two-column ) {
			@include grid-column(1, $contact-two-column);
			line-height: 24px;
		}
	}
}

.page-dealer-application {
	.content-area {
		margin: 0 auto;
		max-width: 50%;
		.entry-content {
			p {
				margin-bottom: $midspace;
			}
		}
		.gform_wrapper {
			.gform_heading {
				display: none;
			}
			.gform_body {
				.gform_fields {
					li.gfield {
						padding: 0;
						&.gf_left_third {
							padding-right: $xxsmallspace;
						}
						&.gf_middle_third {
							padding: 0 $xxsmallspace;
						}
						&.gf_right_third {
							padding-left: $xxsmallspace;
						}
						&.gf_left_half {
							padding-right: $xxsmallspace;
						}
						&.gf_right_half {
							padding-left: $xxsmallspace;
						}
					}
				}
				.gfield_label {
					font-weight: 400;
				}
			}
		}
	}
}
