$contact-single: (
	columns: 1,
	gutter: 2rem,
);

$contact-two-column: (
	columns: 2,
	gutter: 2rem,
	media: "(min-width: 461px)",
);


.contact-content {
	@include grid-container();
	margin: 0 auto $midspace;
	max-width: 1000px;
	.lead-in-title {
		text: {
			align: center;
			transform: uppercase
		}
	}
	.column {
		@include grid-column(1, $contact-single);

		@include grid-media( $contact-two-column ) {
			@include grid-column(1, $contact-two-column);
			line-height: 24px;
		}
	}
}
