$frontpage-container--mobile: (
    columns: 12,
    gutter: .5rem,
    media: "(max-width: 460px)",
);

$frontpage-container: (
  columns: 2,
  gutter: 2rem,
);

$frontpage-desktop: (
	columns: 12,
	gutter: 1rem,
	media: "(min-width: 768px)",
);

.covid-19-header {
    background: $orange;
    color: $white;
    font-weight: 400;
    text-align: center;
    h3 {
        margin: 0;
        padding: 1%;
    }
}
.covid-19-container {
    background: $black;
    display: flex;
    .covid-19-message {
        @include grid-media($frontpage-container--mobile) {
            @include grid-column(10);
			@include grid-shift(1);
        }
        @include grid-column(8);
		@include grid-shift(2);
        color: $white;
        line-height: 1.5rem;
        text-align: center;
	}
}

.front-page-leader {
	@include grid-container();
	.lead-image {
        position: relative;
        text-align: center;
        .image-lead-link-text {
            @include grid-media($frontpage-container--mobile) {
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
            bottom: $midspace;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            a {
                color: $white;
                @include grid-media($frontpage-container--mobile) {
                    font: {
                        size: $h6-font-size;
                    }
                }
                font: {
                    family: $merriweather;
                    style: italic;
                    size: $h3-font-size;
                }
                &:hover {
                    color: $orange;
                }
            }
        }
	}
	.lead-in-copy-container {
		.lead-in-copy {
            @include grid-media($frontpage-container--mobile) {
                @include grid-column(10);
    			@include grid-shift(1);
            }
            @include grid-column(8);
			@include grid-shift(2);
			border-bottom: 1px solid $gray;
			padding: $smallspace 0;
			h3 {
				text-transform: uppercase;
			}
			p {
				font: {
					family: $merriweather;
					size: $h4-font-size;
					style: italic;
                    weight: 300;
				}
                line-height: 40px;
			}
		}
	}
}

.story-lead-in-container {
    .story-image {
        @include grid-container();
        img {
            float: left;
        }
    }
    h1 {
        margin-top: 0;
        text-transform: uppercase;
    }
	.story-lead-in {
        padding: $midspace;
        @include grid-media($neat-large) {
            @include grid-container();
        	margin: 0 auto;
        	max-width: 1000px;
            padding: $smallspace 0;
        }
        .story-content {
            font: {
                family: $arial;
                size: 14px;
            };
            line-height: 28px;
            .keep-reading {
                margin-bottom: 0;
                a {
                    color: $orange;
                }
            }
        }
	}
}
