$frontpage-container: (
  columns: 2,
  gutter: 2rem,
);

$frontpage-desktop: (
	columns: 12,
	gutter: 1rem,
	media: "(min-width: 768px)",
);

.front-page-leader {
	@include grid-container();
	.lead-image {
	}
	.lead-in-copy-container {
		.lead-in-copy {
			@include grid-column(8);
			@include grid-shift(2);
			border-bottom: 1px solid $gray;
			padding: $smallspace 0;
			h3 {
				text-transform: uppercase;
			}
			p {
				font: {
					family: $merriweather;
					size: $h4-font-size;
					style: italic;
                    weight: 300;
				}
                line-height: 40px;
			}
			// padding: $largespace 0;
		}
	}
}

.story-lead-in-container {
    .story-image {
        @include grid-container();
        img {
            float: left;
        }
    }
	.story-lead-in {
        padding: $midspace;
        @include grid-media($neat-large) {
            @include grid-container();
        	margin: 0 auto;
        	max-width: 1000px;
            padding: $smallspace 0;
        }
        h1 {
            margin-top: 0;
    		text-transform: uppercase;
    	}
        .story-content {
            font: {
                family: $arial;
                size: 14px;
            };
            line-height: 28px;
            .keep-reading {
                margin-bottom: 0;
                a {
                    color: $orange;
                }
            }
        }
	}
}
