$header-container: (
  columns: 1,
  gutter: 2rem,
);

$header-grid--tablet-up: (
  columns: 5,
  gutter: 2rem,
  media: "(min-width: 768px)",
);

$desktop-header: (
	columns: 12,
	gutter: 1rem,
	media: "(min-width: 768px)",
);

.site-header {
	@include grid-container;
    background: $black;
    border-bottom: 5px solid $orange;
    a {
        color: $white;
    }
	.site-logo {
		@include grid-column(1, $header-container);
		@include grid-media($desktop-header) {
			@include grid-column(1);
		}
	}
	.menu-primary-container {
		@include grid-column(1, $header-container);
        @include grid-media($desktop-header) {
			@include grid-column(6);
		}
        text-transform: uppercase;
        font: {
            weight: 700;
            size: $h5-font-size;
        }
        .site-navigation {
            li {
                list-style-type: none;
                @include hide-visually;
            }
        }
	}
	.utility-navigation {
		@include grid-column(1, $header-container);

		@include grid-media($desktop-header) {
			@include grid-column(5);
		}
	}
}

.utility-header {
	svg {
		fill: $offwhite;
		vertical-align: middle;
		width: 16px;
	}
	a {
		color: $offwhite;
	}
}

.cart-count {
	font-weight: 700;
}

.mobile-header {
	@include grid-container;
	background: $black;
	@include grid-media( $neat-small ) {
		display: block;
	}
	@include grid-media( $neat-large ) {
		@include hide-visually;
	}
	.site-branding {
		@include grid-column(4);
		@include grid-shift(4);
		margin-bottom: $fifteen;
		margin-top: $twentyfive;
	}
	.menu-hook-container {
		@include grid-column(2);
		@include grid-shift(5);
		margin-bottom: $ten;
		text-align: center;
		.menu-hook {
			color: $offwhite;
			text-transform: uppercase;
			font: {
				size: 16px;
				weight: bold;
			}
		}
	}
	.slide-out {
		clear: both;
	}
	.mobile-navigation {
		@include grid-container();
		padding: $fifteen 0;
		.main-navigation {
			@include grid-column(4);
			@include grid-shift(2);
			li {
				font-weight: bold;
				margin-bottom: $five;
				text-transform: uppercase;
				a {
					color: $offwhite;
				}
				&:last-of-type {
					margin-bottom: 0;
				}
			}
		}
		.utility-header {
			@include grid-column(4);
			text-align: right;
			.account-link,
			.cart-link {
				display: block;
			}
			.account-link {
				margin-bottom: $five;
			}
		}
	}
	.search-form {
		@include grid-container();
		label {
			@include grid-column(8);
			@include grid-shift(2);
			margin-bottom: 0;
		}
		input {
			margin-bottom: $fifteen;
			padding: $five $five $five $twentyfive;
			background: {
				image: url('../images/magnifying_glass.svg');
			}
		}
	}
}

.desktop-header {
	@include hide-visually;
	@include grid-media($header-grid--tablet-up) {
		@include hide-visually("unhide");
        @include grid-container;
        background: $black;
    	border-bottom: 5px solid $orange;
    	color: $white;
    	a {
    		color: $white;
    	}
    	.site-logo {
            @include grid-column(1, $header-container);
    		@include grid-media($desktop-header) {
    			@include grid-column(1);
    		}
    	}
    		a {
    			@include grid-container();
    			padding: $midspace 0 0 0;
    		}
    	.menu-primary-container {
            @include grid-column(1, $header-container);
            @include grid-media($desktop-header) {
    			@include grid-column(6);
    		}
    		a {
    			font-weight: 700;
    			text-transform: uppercase;
    		}
    		ul.desktop-navigation {
    			margin: 7% 0 $xsmallspace;
    			padding: 0 0 0 $smallspace;
    			.menu-item {
    				display: inline-flex;
    				// font-size: $h5-font-size;
    				margin-right: $xsmallspace;
    				&:last-child {
    					margin-right: 0;
    				}
    			}
    		}
    	}
    	.utility-navigation {
            @include grid-column(1, $header-container);

    		@include grid-media($desktop-header) {
    			@include grid-column(5);
    		};
    		direction: rtl;
    		.site-search-container {
                @include grid-media($desktop-header) {
		             @include grid-column(8);
                 }
    			padding: 9% 0 2%;
    			.search-icon {
                    @include grid-media($desktop-header) {
    		             @include grid-column(2);
                         svg {
                             width: 50%;
                         }
                     }
    			}
    			.site-search-input {
                    @include grid-media($desktop-header) {
    		             @include grid-column(10);
                     }
    				background: $black;
    				border-top: none;
    				border-right: none;
    				border-left: none;
                    color: $white;
                    direction: ltr;
    			}
    		}
    		.account-and-cart {
                @include grid-media($desktop-header) {
		             @include grid-column(3);
                 }
    			padding: 8% 0 2%;
    			svg {
    				fill: $white;
    			}
    			.account-link {
                    @include grid-media($desktop-header) {
    		             @include grid-column(6);
                     }
    				font-size: 14px;
    			}
    			.cart-link {
                    @include grid-media($desktop-header) {
    		             @include grid-column(5);
                     }
    				@include grid-shift(1);
    				direction: ltr;
    				svg {
    					width: 16px;
    				}
    				&:hover {
    					a {
    						fill: $orange-hover;
    					}
    				}
    			}
    		}
        }
	}
}
