$header-container: (
  columns: 1,
  gutter: 2rem,
);

$header-grid--tablet-up: (
  columns: 5,
  gutter: 2rem,
  media: "(min-width: 768px)",
);

$header-grid--mobile: (
  columns: 6,
  gutter: 1rem,
  media: "(max-width: 767px)",
);

$desktop-header: (
	columns: 12,
	gutter: 1rem,
	media: "(min-width: 768px)",
);

$utility-header: (
	columns: 12,
	gutter: .35rem,
);

.utility-header {
	svg {
		fill: $offwhite;
		vertical-align: middle;
		width: 16px;
	}
	a {
		color: $offwhite;
	}
}

.cart-count {
	font-weight: 700;
}

.mobile-header {
	@include grid-container;
	background: $black;
    @include grid-media($header-grid--tablet-up) {
        display: none;
    }
	.site-branding {
		@include grid-column(2, $header-grid--mobile);
		@include grid-shift(2, $header-grid--mobile);
        // margin: $xsmallspace 0 $xxsmallspace 0;
		margin-bottom: $fifteen;
		margin-top: $twentyfive;
	}
	.menu-hook-container {
		@include grid-column(2, $header-grid--mobile);
		@include grid-shift(2, $header-grid--mobile);
        clear: both;
		margin-bottom: $ten;
		text-align: center;
		.menu-hook {
			color: $offwhite;
			text-transform: uppercase;
			font: {
				size: 16px;
				weight: bold;
			}
		}
	}
	.slide-out {
		clear: both;
	}
	.mobile-navigation {
		@include grid-container();
        margin: 0 auto;
		padding: $fifteen 0;
        width: 60%;
        ul {
            margin: 0;
            padding: 0;
        }
		.main-navigation {
			@include grid-column(3, $header-grid--mobile);
			// @include grid-shift(2);
			li {
				font-weight: bold;
				margin-bottom: $five;
				text-transform: uppercase;
				a {
					color: $offwhite;
				}
				&:last-of-type {
					margin-bottom: 0;
				}
			}
		}
		.utility-header {
            @include grid-column(3, $header-grid--mobile);
            text-align: right;
			.account-link,
			.cart-link {
				display: block;
			}
			.account-link {
				margin-bottom: $five;
			}
		}
	}
	.search-form {
		@include grid-container();
		label {
            @include grid-column(4, $header-grid--mobile);
			@include grid-shift(2);
			margin-bottom: 0;
		}
		input {
            background: {
                color: $black;
				image: url('../images/magnifying_glass.svg');
                repeat: no-repeat;
			}
            border-bottom: 1px solid $white;
            border-left: 0;
            border-right: 0;
            border-top: 0;
			margin-bottom: $largespace;
			padding: $smallspace $smallspace $smallspace $twentyfive;
            width: 100%;
		}
	}
}

.desktop-header {
	display: none;
	@include grid-media($header-grid--tablet-up) {
        @include grid-container;
        display: block;
        background: $black;
    	border-bottom: 5px solid $orange;
    	color: $white;
    	a {
    		color: $white;
    	}
    	.site-logo {
            @include grid-column(1, $header-container);
    		@include grid-media($desktop-header) {
    			@include grid-column(1);
    		}
    	}
		a {
			@include grid-container();
		}
    	.menu-primary-container {
            @include grid-column(1, $header-container);
            @include grid-media($desktop-header) {
    			@include grid-column(6);
    		}
    		a {
    			font-weight: 700;
    			text-transform: uppercase;
    		}
    		ul.desktop-navigation {
    			margin: 8% 0 $xsmallspace;
    			padding: 0 0 0 $smallspace;
    			.menu-item {
    				display: inline-flex;
    				// font-size: $h5-font-size;
    				margin-right: $xsmallspace;
    				&:last-child {
    					margin-right: 0;
    				}
    			}
    		}
    	}
    	.utility-navigation {
            @include grid-column(1, $header-container);

    		@include grid-media($desktop-header) {
    			@include grid-column(5);
    		};
    		direction: rtl;
    		.site-search-container {
	            @include grid-column(7, $utility-header);
    			padding: 9% 0 2%;
    			.search-icon {
                    @include grid-media($utility-header) {
    		             @include grid-column(2);
                         svg {
                             width: 50%;
                         }
                     }
    			}
    			.site-search-input {
                    @include grid-media($utility-header) {
    		             @include grid-column(10);
                     }
    				background: $black;
    				border-top: none;
    				border-right: none;
    				border-left: none;
                    color: $white;
                    direction: ltr;
    			}
    		}
    		.account-and-cart {
	            @include grid-column(4, $utility-header);
    			padding: 9% 0 2%;
    			svg {
    				fill: $white;
    			}
    			.account-link {
		            @include grid-column(6, $utility-header);
    				font-size: 14px;
    			}
    			.cart-link {
		            @include grid-column(5, $utility-header);
    				// @include grid-shift(1);
    				direction: ltr;
    				svg {
    					width: 16px;
    				}
    				&:hover {
    					a {
    						fill: $orange-hover;
    					}
    				}
    			}
    		}
        }
	}
}
