$search--tablet-up: (
	columns: 12,
	gutter: 2rem,
	media: "(min-width: 461px)",
);

.search-area {
	.body-copy {
		@include grid-media($search--tablet-up) {
			@include grid-column(6, $search--tablet-up);
			@include grid-shift(3, $search--tablet-up);
		}
		padding: $midspace 0;
		.post {
			margin-bottom: $midspace;
		}
	}
}
