$story-two-up--mobile: (
	columns: 1,
	gutter: 1rem,
	media: "(max-width: 460px)",
);

$story-two-up--tablet-up: (
	columns: 2,
	gutter: 2rem,
	media: "(min-width: 769px)",
);

$story-two-up-full--tablet-up: (
	columns: 2,
	gutter: 0rem,
	media: "(min-width: 769px)",
);

.story-sections {
	.caption {
		border-bottom: 2px solid $light-gray;
		clear: both;
		padding: $xxxsmallspace 0;
		text-align: center;
	}
	p {
		font: {
			family: $merriweather;
			weight: 300;
		}
		line-height: 24px;
	}
	h6 {
		font-size: $base-font-size;
		font-weight: 700;
		margin-bottom: 1em;
	}
	.full-banner-image {
		@include grid-container();
		// @include grid-collapse();
		margin-top: $smallspace;
		&:first-of-type {
			margin-top: 0;
		}
		img {
			float: left;
		}
	}
	.body-copy {
		@include grid-container();

		@include grid-media( $story-two-up--mobile) {
			@include grid-column(1, $story-two-up--mobile);
		}

		clear: both;
		margin: $smallspace auto 0;
		max-width: 800px;
		padding: $smallspace 0;
		h1 {
			text-transform: uppercase;
		}
		h6 {
			margin-top: 0;
		}
		.large-content {
			p {
				font: {
					size: $h4-font-size;
					style: italic;
				}
				line-height: 40px;
			}
		}
	}
	.two-small-photos {
		@include grid-container();
		@include grid-collapse();
		margin-top: $smallspace;
		.column-one {
			@include grid-column(1, $story-two-up--mobile);

			@include grid-media($story-two-up-full--tablet-up) {
				@include grid-column(1, $story-two-up-full--tablet-up);
				img {
					float: left;
					width: 98%;
				}
				.caption {
					width:	98%;
				}
			}
		}
		.column-two {
			@include grid-column(1, $story-two-up--mobile);

			@include grid-media($story-two-up-full--tablet-up) {
				@include grid-column(1, $story-two-up-full--tablet-up);
				img {
					float: right;
					width: 98%;
				}
				.caption {
					float: right;
					width:	98%;
				}
			}
		}
	}
	.one-photo-one-text {
		@include grid-container();
		margin: $smallspace auto 0;
		max-width: 1200px;
		.image-column {
			margin: 0 0 $smallspace 0;
			@include grid-column(1, $story-two-up--mobile);

			@include grid-media($story-two-up--tablet-up) {
				@include grid-column(1, $story-two-up--tablet-up);

				img {
					float: left;
				}
			}
		}
		.text-column {
			@include grid-column(1, $story-two-up--mobile);

			@include grid-media($story-two-up--tablet-up) {
				@include grid-column(1, $story-two-up--tablet-up);
				p {
					size: $base-font-size;
				}

			}
		}
	}
	.call-to-action {
		position: relative;
		.call-to-action-content {
			color: $white;
			left: 50%;
			position: absolute;
			text-align: center;
			top: 50%;
			transform: translate(-50%,-50%);
		}
	}
}
